@* Remove this section if you are using bundling *@
@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Forget Your Password";

    bool passwordSent = false;
    var resetToken = "";
    var email = Request.Form["email"] ?? Request.QueryString["email"];

    // Setup validation
    Validation.RequireField("email", "Obavezno unesite e-mail adresu.");

    if (IsPost) {
        AntiForgery.Validate();
        // validate email
        bool isValid = true;
        if (Validation.IsValid()) {
            if (WebSecurity.GetUserId(email) > -1 && WebSecurity.IsConfirmed(email)) {
                resetToken = WebSecurity.GeneratePasswordResetToken(email); // Optionally specify an expiration date for the token
            } else {
                passwordSent = true; // We don't want to disclose that the user does not exist.
                isValid = false;
            }
        }
        if (isValid) {
            var hostUrl = Request.Url.GetComponents(UriComponents.SchemeAndServer, UriFormat.Unescaped);
            var resetUrl = hostUrl + VirtualPathUtility.ToAbsolute("~/Account/PasswordReset?resetToken=" + HttpUtility.UrlEncode(resetToken));
            WebMail.Send(
                to: email,
                subject: "Molimo vas obnovite svoj password", 
                body: "Koristite ovaj password token kako bi promijenili svoj password. Vaš token je: " + resetToken + @". Kliknite na <a href=""" + HttpUtility.HtmlAttributeEncode(resetUrl) + @""">" + resetUrl + "</a> da bi obnovili svoj password."
            );
            passwordSent = true;
        }
    }
}
    
       

        
                <hgroup class="title oNama1">
                    <h1>Zaboravili ste password?</h1>
                    <h2>Unesite svoj e-mail u polje ispod.</h2>
                </hgroup>

                @if (!WebMail.SmtpServer.IsEmpty())
                {
                    <p class="title oNama1">
                        Poslat ćemo vam upute za zamjenu passworda na e-mail adresu koju ste registrovali.
                    </p>

                    if (passwordSent)
                    {
                        <p class="message-success">
                            Upute za promjenu passworda su poslate na vašu email adresu.
                        </p>
                    }

                    <form method="post">
                        @AntiForgery.GetHtml()
                        @Html.ValidationSummary(excludeFieldErrors: true)

                        <fieldset id="loginForm">
                            <legend >Forma za promjenu passworda</legend>
                            <ol>
                                <li class="email oNama1">
                                    <label for="email" @if (!ModelState.IsValidField("email")) { <text> class="error-label" </text> }>Email adresa</label>
                                    <input type="text" id="email" name="email" value="@email" disabled="@passwordSent" @Validation.For("email") />
                                    @Html.ValidationMessage("email")
                                </li>
                            </ol>
                            <p class="form-actions">
                                <input type="submit" value="Promijeni password" disabled="@passwordSent" />
                            </p>
                        </fieldset>
                    </form>
                }
                else
                {
                    <p class="message-info">
                        Promjena passworda je nemoguća za ovaj site jer SMTP server nije konfigurisan ispravno. Molimo vas kontaktirajte vlasnike site-a kako bi
                        zamijenili password.
                    </p>
                }
         
