@* Remove this section if you are using bundling *@
@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Password Reset";

    var passwordResetToken = Request.Form["resetToken"] ?? Request.QueryString["resetToken"];

    bool tokenExpired = false;
    bool isSuccess = false;

    // Setup validation
    Validation.RequireField("newPassword", "Novi password je obavezno unijeti.");
    Validation.Add("confirmPassword",
        Validator.EqualsTo("newPassword", "Novi password se ne podudara sa potvrdom passworda."));
    Validation.RequireField("resetToken", "Potrebno je unijeti token za promjenu passworda.");
    Validation.Add("newPassword",
        Validator.StringLength(
            maxLength: Int32.MaxValue,
            minLength: 6,
            errorMessage: "Novi password mora biti dug najmanje 6 znakova"));

    if (IsPost && Validation.IsValid())
    {
        AntiForgery.Validate();
        var newPassword = Request["newPassword"];
        var confirmPassword = Request["confirmPassword"];

        if (WebSecurity.ResetPassword(passwordResetToken, newPassword))
        {
            isSuccess = true;
        }
        else
        {
            ModelState.AddError("resetToken", "Token za promjenu passworda je nevažeći.");
            tokenExpired = true;
        }
    }
}
<br /><br /><br /><br /><br /><br />
<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Koristite formu kako bi zamijenili svoj password.</h2>
</hgroup>

@if (!WebMail.SmtpServer.IsEmpty())
{
    if (IsPost && !Validation.IsValid())
    {
        <p class="validation-summary-errors">
            @if (tokenExpired)
            {
                <text>Token za promjenu passworda je netača ili je istekao. Kliknite na link <a href="~/Account/ForgotPassword">promjena passworda</a>
                    kako bi dobili novi.</text>
            }
            else
            {
                <text>Zamjena passworda nije uspjela. Molimo vas ispravite greške i pokušajte ponovo.</text>
            }
        </p>
    }

    if (isSuccess)
    {
        <p class="message-success">
            Password zamjenjen! Kliknite na <a href="~/Account/Login" title="Log in">here</a> da se prijavite.
        </p>
    }

    <form method="post">
        @AntiForgery.GetHtml()
        <fieldset>
            <legend>Promjena passworda</legend>
            <ol>
                <li class="new-password">
                    <label for="newPassword" @if (!ModelState.IsValidField("newPassword")) { <text> class="error-label" </text> }>Novi password</label>
                    <input type="password" id="newPassword" name="newPassword" disabled="@isSuccess" @Validation.For("newPassword") />
                    @Html.ValidationMessage("newPassword")
                </li>
                <li class="confirm-password">
                    <label for="confirmPassword" @if (!ModelState.IsValidField("confirmPassword")) { <text> class="error-label" </text> }>Potvrdite password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" disabled="@isSuccess" @Validation.For("confirmPassword") />
                    @Html.ValidationMessage("confirmPassword")
                </li>
                <li class="reset-token">
                    <label for="resetToken" @if (!ModelState.IsValidField("resetToken")) { <text> class="error-label" </text> }>Token za promjenu passworda</label>
                    <input type="text" id="resetToken" name="resetToken" value="@passwordResetToken" disabled="@isSuccess" @Validation.For("resetToken") />
                    @Html.ValidationMessage("resetToken")
                </li>
            </ol>
            <input type="submit" value="Promijeni password" disabled="@isSuccess" />
        </fieldset>
    </form>
}
else
{
    <p class="message-info">
        Promjena passworda je nemoguća za ovaj site jer SMTP server nije konfigurisan ispravno. Molimo vas kontaktirajte vlasnike site-a kako bi
        zamijenili password.
    </p>
}
