@{
    /**/

    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "";

    var db = Database.Open("StarterSite");
    var query = "SELECT * FROM Putovanje ORDER BY IdPutovanje";
    //var myPath = this.Request.Url;
}

@section featured {
    <main class="maincss">
        <br /><br /><br /><br />
        <div class="content">
            @{
                foreach (var row in db.Query(query))
                {
                    DateTime end = @row.Povratak;
                    DateTime now = @row.Polazak;
                    TimeSpan diff = end.Subtract(now);

                    <div class="sl-title">
                        <h6 style="text-align:end">
                            @*// kod angulara za ispisivanje vremena i datuma*@

                            @{var greetingMessage = @DateTime.Now;}
                            @greetingMessage

                        </h6>
                    </div>
                    <div class="subpage-header travelish">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h1>Putujte sa nama...</h1>
                                    <h2>@row.NazivPutovanja</h2><br>
                                </div>
                            </div><!-- row -->
                        </div><!-- container -->
                    </div><!-- subpage-header -->
                    @*<p>The URL to this page is: @myPath</p>*@
                    <div class="container travelish">
                        <div class="row">
                            <div class="col-sm-12">
                                <img class="mySlides" src="slike/@row.SliderS1" style="width:100%">
                                <img class="mySlides" src="slike/@row.SliderS2" style="width:100%">
                                <img class="mySlides" src="slike/@row.SliderS3" style="width:100%">
                                <img class="mySlides" src="slike/@row.SliderS4" style="width:100%">
                                <img class="mySlides" src="slike/@row.SliderS5" style="width:100%">
                                <img class="mySlides" src="slike/@row.SliderS6" style="width:100%">
                                <img class="mySlides" src="slike/@row.SliderS7" style="width:100%">
                            </div>

                            <script>
                                var myIndex = 0;
                                carousel();
                                function carousel() {
                                    var i;
                                    var x = document.getElementsByClassName("mySlides");
                                    for (i = 0; i < x.length; i++) {
                                        x[i].style.display = "none";
                                    }
                                    myIndex++;
                                    if (myIndex > x.length) { myIndex = 1 }
                                    x[myIndex - 1].style.display = "block";
                                    setTimeout(carousel, 3000); // slike se mijenjaju svako tri sekunde
                                }
                            </script>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="travel-box">
                            <div class="col-md-2-col-md-8-col-md-2">
                                <br>
                                <p class="descr">
                                    <em>@row.Polazak.Date.ToString("dd.MM.yyyy") - @row.Povratak.Date.ToString("dd.MM.yyyy")</em>
                                </p>
                                <em>Cijena od</em>
                                <strong>@row.Cijena <i>KM</i></strong>
                                <strong>@diff.TotalDays dana</strong>
                            </div>
                        </div><!-- travel-box -->
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="travel-subtitle">@row.programPutovanja</h3>
                            <p>@row.p1 &nbsp;</p>
                            <p>@row.p2 &nbsp;</p>
                            <p>@row.p3 &nbsp;</p>
                            <p>@row.p4&nbsp;</p>
                            <p>@row.p5&nbsp;</p>
                            <p><strong>@row.p6</strong></p>
                            <p><strong>@row.p7</strong></p>
                            <ul>
                                <li>@row.p8</li>
                                <li>@row.p9</li>
                            </ul>
                            <p><strong>@row.p11</strong></p>
                            <ul>
                                <li>@row.p10</li>
                                <li>@row.p12</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-4 col-sm-6">
                        <a class="travel-item all" href="~/destinacije" id="svaputovanja">
                            <strong>Sva putovanja<span class="glyphicon glyphicon-chevron-right " aria-hidden="true"></span></strong>
                        </a>
                    </div>
                                    break;
                                }
            }


            <br><br><br>
            <div class="bgimg">
                <div class="middle">
                    <h1>Ponuda koja se ne propušta!</h1>
                    <hr>
                    <p id="demo" style="font-size:30px"></p>
                </div>
            </div><br />
            <script>
                // Postavljanje datuma do kojeg ce odbrojavati
                var countDownDate = new Date("July 25, 2018 00:00:00").getTime();

                // Update svake sekunde
                var countdownfunction = setInterval(function () {

                    // Postavka danasnjeg datuma
                    var now = new Date().getTime();

                    // Razlika vremena izmedju vremena sada i do zadnjeg dana
                    var distance = countDownDate - now;

                    // Vrijeme proracun za dane, sate, minute i sekunde
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                    // Povratni rezultat iz id="demo"
                    document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                        + minutes + "m " + seconds + "s ";

                    // Ukoliko je odbrojavanje zavrseno, pisat ce ISTEKLA PONUDA
                    if (distance < 0) {
                        clearInterval(countdownfunction);
                        document.getElementById("demo").innerHTML = "ISTEKLA PONUDA";
                    }
                }, 1000);
            </script>
        </div><!-- content -->
    </main>
}