@{
    /**/

    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "EditProduct4";

    var db = Database.Open("StarterSite");
    var selectQuery = "SELECT * FROM Footer ORDER BY Id";

}

<style type="text/css">
    table, th, td {
        border: solid 1px #bbbbbb;
        border-collapse: collapse;
        padding: 2px;
        background-color: white;
    }
</style>
<br /><br /><br /><br /><br />
<h6><a href="~/admin">Povratak nazad</a></h6>
<br />
<h1>Izmjeni footer:</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <table>
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Id</th>
                        <th>Mail</th>
                        <th>Telefon</th>
                        <th>Adresa</th>
                        <th>Copyright</th>
                        <th>Boja</th>
                        <th>Logo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in db.Query(selectQuery))
                    {
                        <tr>
                            <td><a href="@Href("~/UpdateProducts4", row.Id)">Uredi</a></td>
                            <td>@row.Id</td>
                            <td>@row.Mail</td>
                            <td>@row.Telefon</td>
                            <td>@row.Adresa</td>
                            <td>@row.Copy</td>
                            <td>@row.Boja</td>
                            <td>@row.Logo</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>